@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.bg {
  background: url("assets/images/top-bg.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 60px;
  position: relative;
  z-index: 1;
  height: 688px;
  width: 100%;
  padding-top: 20%;
}

.header-align {
  display: flex;
  justify-content: space-between;
  padding: 7.5%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

nav a:hover {
  cursor: pointer;
}

.Top-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6.5%;
  margin: 0 0 15% 0;
  gap: 12px;
  position: relative;
  z-index: 2;
}

.Top-Page h1 {
  background-color: none;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.Top-Page h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.myself {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect-p {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-icon {
  display: flex;
  list-style: none;
}

.social-icon li {
  padding-right: 6%;
}

.fa-brands {
  color: #505f79;
}

.fa-brands:hover {
  background-color: #d0d5fd;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 70px 3.2%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 4.5%;
  background-color: #fff;
  border-radius: 4.5%;
  gap: 12px;
  margin: 44px 0;
}

.card h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.exp {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 8px;
}

.exp p {
  color: #344563;
}

.exp ul {
  display: flex;
}

.exp li {
  color: #7a869a;
  margin-left: 16px;
}

.exp li::before {
  content: "";
  display: inline-block;
  margin-bottom: 1px;
  width: 8px;
  height: 8px;
  margin-right: 16px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skill {
  display: flex;
  margin-bottom: 16px;
}

.skill-box {
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  background-color: #fff;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  width: 126px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.bottom-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 60px;
  padding: 114px 6.5%;
  position: relative;
  z-index: 1;
}

.bottom-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bottom-page h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#resume-btn {
  width: 158px;
}

.bottom-2 {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
}

.skill-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 12px;
}

.skill-type p {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.language-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px;
}

.language-items li {
  display: flex;
  width: auto;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  padding-left: 12px;
}

.language-items p {
  padding-left: 5%;
}

i.fa {
  font-size: 13px;
  padding-right: 28px;
}

hr {
  color: #dfe1e6;
}

.contact {
  padding-top: 40px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.contact-align {
  background: url("assets/images/contact-bg.svg");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  border-top-left-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding-top: 100px;
}

.contact-align h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-align p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  color: #fff;
  text-align: center;
}

.first {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  padding: 10px;
}

.first::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.second {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  padding: 10px;
}

.second::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.message {
  background: #fff;
  width: 327px;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.desk-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 52px 0 32px;
  gap: 11px;
}

.desk-form .btn {
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.desk-form .btn:hover {
  background-color: #6070ff;
  color: white;
  border: 2px solid #fff;
}

.desk-form .btn:active {
  background-color: #2230d2;
  color: white;
  border: 2px solid #fff;
}

.contact-align hr {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 125px;
  height: 5px;
  background-color: #fff;
  margin-top: 36px;
  border-radius: 10px;
  border: none;
}
